* {
    box-sizing: border-box;
    padding: 0;
    font-family: monospace;
}


body {
    background-image: url(../image/back.jpg);
    line-height: 1;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem !important;
}

.imgg {
    backdrop-filter: blur(10px);
    display: none;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left: 230px;
    height: 530px;
    width: 800px;
    background-image: url(./image/balader.jpg);
    background-repeat: no-repeat;
    background-size: 800px !important;
    animation: app 0.8s;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.436) 0px -12px 30px, rgba(255, 255, 255, 0) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



@keyframes app {
    from {
        transform: translate(-1000px);
    }

    to {
        transform: translate(0);
    }
}


.list-group-item.active {
    background-color: #4f545b !important;
    border-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(144, 145, 146) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px !important;
}

.col-4 {
    width: 50% !important;
    opacity: 91%;
}



.liste {
    color: #ffffff !important;
    background-color: #144c6b !important;
}

.contain {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: center;
}

.btn_ {
    width: 250px;
    height: 100px;
    margin-top: 250px;
    margin-right: 100px;
    font-size: 2.5rem;
    background-color: #4f545b;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.817) 5px 15px 30px -10px;
    transition: ease 0.2s;
}

.btn_:hover {
    transform: scale(1.1);
    transition: ease 0.2s;
}

.gerer {
    position: absolute;
    border-radius: 27px;
    margin-top: 159px;
    background-color: #4F545B;
    width: 800px;
    height: 202px;
    display: flex;
    justify-content: center;
}

.taille_icone {
    width: 41px;
    height: 41px;
    color: white;
    margin-right: 15px;
}

.tou_icones {
    margin-top: 61px;
    display: flex;
}

.volu {
    position: relative;
    top: 31%;
    left: -9%;
    width: 40px;
}

.volu-toggle {
    background-color: red;
    color: red !important;
}

.titre_nom {
    font-size: 20px;
    width: 132px;
    display: block ruby;
    margin-top: 11px;
    color: white;
    position: relative;
    right: 14%;
}



#range_vol {
    position: relative;
    width: 119px;
    left: 16%;
    margin-bottom: 30px;
    accent-color: rgb(31, 25, 25);
    height: 20px;
    margin-top: 72px;
}

svg {
    cursor: pointer;
}

svg:hover {
    color: black;
    transition: ease-in-out 0.2s;
}

svg:active {
    color: black;
}



.play_mus {
    display: none;
}




#timer {
    position: relative;
    top: 44%;
    left: 9%;
    width: 654px;
    height: 7px;
    accent-color: rgb(31, 25, 25);
}

.timer_debut {
    position: relative;
    top: 56%;
    right: -4%;
    font-size: large;
    color: white;
}

.timer_fin {
    width: 20px;
    position: relative;
    top: 43%;
    left: 94%;
    font-size: large;
    color: white;
}

#myaudio {
    display: none;
}

.tempsTotal {
    position: relative;
    color: white;
    top: 51%;
    left: 92%;
}

.tempsCouru {
    position: relative;
    color: white;
    top: 56%;
    right: -2%;
}

.croix {
    display: none;
    position: relative;
    right: -75%;
    top: 23%;
    color: black;
}

